* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;

}

.bola {
    width: 200px;
    height: 250px;
    background-color: orange;
    border-radius: 15px;
    order: 1;
}

.ota {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: green;
    flex-wrap: wrap;
    height: 100vh;
     align-content: center;
      align-content: space-between;
}

.order2 {
    order: 5;
}

.order1 {
    order: 10;
}